.gameBoard {
    /* Parent styles */
    background-color: var(--taupe-gray);
    position: relative;
    &.selected {
        background-color: var(--platinum);
    }

    /* Child styles */
    & .row {
        display: flex;
    }

    & .cell {
        width: 50px;
        height: 50px;
        border: 1px solid #000;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
    }

    & .winnerOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150px;
        color: var(--color-warning);

        &.winnerX {
            color: var(--aquamarine);
        }
        &.winnerO {
            color: var(--periwinkle);
        }
        &.winnerT {
            color: var(--yellow);
        }
    }
    
}


.selectGameButton {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent;

    &:hover:not(:disabled) {
        background: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
}
